docutils<0.21
sphinx
sphinx-rtd-theme
sphinx-copybutton
sphinx-autobuild
sphinx-tabs
sphinx-automodapi
myst-parser
graphviz
numpy
pandas
h5py
scipy
jplephem
astropy
pyerfa
emcee
lmfit
sgp4
matplotlib
pypdf2
ipyvolume
ipython_genutils
ipython
pytest
imageio
tqdm
build