sphinx
sphinx-copybutton
myst-parser
sphinx-tabs
sphinx-automodapi
sphinx_rtd_theme
sphinxcontrib-bibtex
nbsphinx
numpy
astropy
jupyter
asdf
python-git 
git-lfs 
graphviz
scipy
matplotlib
pandas
# ssapy
scikit-learn