sphinx
sphinx-copybutton
myst-parser
sphinx-tabs
sphinx-automodapi
sphinx_rtd_theme
sphinxcontrib-bibtex
nbsphinx
numpy
astropy
jupyter
asdf
git 
git-lfs 
python3 
python3-distutils 
python3-venv 
graphviz
scipy
matplotlib
pandas
ssapy
scikit-learn