name: CI/CD

on:
  # This Workflow can be triggered manually
  workflow_dispatch:
  # Run daily at 0:01 UTC
  schedule:
    - cron:  '1 0 * * *'
  # Run on pushes that modify this branch or tag the repo
  push:
    branches:
      - main
    tags:
      - v*.*.*
  # Run on pull requests that modify this branch/file
  pull_request:
    branches:
      - main
  # Let's also run the workflow on releases
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]  # other options: windows-latest
        python-version: ["3.8", "3.12"]

    name: test SSAPy (${{ matrix.os }}) - python ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: |
        python -m pip install --upgrade pip setuptools flake8
        python -m pip install -r requirements.txt
        # install checked out SSAPy
        python setup.py build
        python setup.py install
        python -m pip list
    - name: Install dependencies (MacOS)
      if: matrix.os == 'macOS-latest'
      run: |
        python -m pip install --upgrade pip setuptools flake8
        python -m pip install -r requirements.txt
        # install checked out SSAPy
        python setup.py build
        python setup.py install
        python -m pip list
    #- name: Install dependencies (Windows)
    #  if: matrix.os == 'windows-latest'
    #  run: |
    #    python -m pip install --upgrade pip setuptools
    #    python -m pip install -r requirements.txt
    #    # install checked out SSAPy
    #    python setup.py build
    #    python setup.py install
    #    python -m pip list
    #- name: Lint code
    #  if: matrix.os == 'ubuntu-latest' && matrix.python-version == 3.12
    #  run: |
    #    python3 --version
    #    flake8 --version
    #    flake8 ssapy/ tests/ devel/
    #- name: Test with pytest
    #  run: |
    #    python3 ${CI_PROJECT_DIR}/tests/test_orbit.py
    #    pytest --cov-report=xml --cov=coffea --deselect=test_taskvine
    - name: Upload coverage reports to Codecov
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == 3.12
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        slug: LLNL/SSAPy
    - name: Build documentation
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == 3.12
      run: |
        sudo apt-get update
        sudo apt-get install build-essential git git-lfs python3 python3-setuptools python3-venv graphviz cmake
        git submodule update --init --recursive
        git lfs install
        git lfs pull
        python3 setup.py build
        python3 setup.py install
        pip install -r docs/requirements.txt
        cd docs && sphinx-autogen source/api.rst -t source/_templates -o source/modules && cd ../
        cd docs && make html && make html
        touch _build/html/.nojekyll
    - name: Deploy documentation
      if: (github.event_name == 'push' || github.event_name == 'schedule' || github.event_name == 'release') && matrix.os == 'ubuntu-latest' && matrix.python-version == 3.12
      uses: crazy-max/ghaction-github-pages@v4
      with:
        target_branch: gh-pages
        build_dir: docs/_build/html
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  pass:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - run: echo "All jobs passed"
  deploy-images:
    needs: [pass]
    if: github.event_name == 'push' || github.event_name == 'release'
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout SSAPy
        uses: actions/checkout@v4
        with:
          path: 'SSAPy'
          lfs: 'true'
          submodules: 'recursive'
      - name: Look around
        run: |
          echo ${{ github.workspace }}
          pwd
          ls -alh ./
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Setup Metadata
        uses: docker/metadata-action@v5
        id: docker_meta
        with:
          images: |
              ghcr.io/${{ github.repository_owner }}/ssapy-centos-s9
          tags: |
              type=schedule,pattern=nightly
              type=schedule,pattern=develop
              type=semver,pattern={{version}}
              type=semver,pattern={{major}}.{{minor}}
              type=semver,pattern={{major}}
              type=ref,event=branch
              type=ref,event=pr
              type=ref,event=tag
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build & Deploy Images
        uses: docker/build-push-action@v5
        with:
          context: .
          file: SSAPy/.docker/Dockerfile
          platforms: 'linux/amd64,linux/arm64'
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}

  images-built:
    needs: [deploy-images]
    runs-on: ubuntu-latest
    steps:
      - run: echo "Container built"
