name: CI/CD

on:
  push:
    branches:
      - main
    tags:
      - v*.*.*
  pull_request:
    branches:
      - main
  # Run daily at 0:01 UTC
  schedule:
    - cron:  '1 0 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]  # other options: windows-latest
        python-version: ["3.8", "3.12"]

    name: test SSAPy (${{ matrix.os }}) - python ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install -r requirements.txt
        # install checked out SSAPy
        python setup.py build
        python setup.py install
        python -m pip list
    - name: Install dependencies (MacOS)
      if: matrix.os == 'macOS-latest'
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install -r requirements.txt
        # install checked out SSAPy
        python setup.py build
        python setup.py install
        python -m pip list
    #- name: Install dependencies (Windows)
    #  if: matrix.os == 'windows-latest'
    #  run: |
    #    python -m pip install --upgrade pip setuptools
    #    python -m pip install -r requirements.txt
    #    # install checked out SSAPy
    #    python setup.py build
    #    python setup.py install
    #    python -m pip list
    #- name: Install graphviz
    #  if: matrix.os == 'ubuntu-latest' && matrix.python-version == 3.12
    #  uses: ts-graphviz/setup-graphviz@v2
    #- name: Upload codecov
    #  if: matrix.os == 'ubuntu-latest' && matrix.python-version == 3.12
    #  uses: codecov/codecov-action@v4
    - name: Build documentation
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == 3.12
      run: |
        cd docs && make html && make html
        touch _build/html/.nojekyll
    - name: Deploy documentation
      if: github.event_name == 'push' && matrix.os == 'ubuntu-latest' && matrix.python-version == 3.12
      uses: crazy-max/ghaction-github-pages@v4
      with:
        target_branch: gh-pages
        build_dir: docs/_build/html
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  pass:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - run: echo "All jobs passed"
